---
title: "Chee Kian Teoh 🇲🇾👨🏻‍💻🇨🇦"
layout: "base.njk"
---

{# here setting the metadata for index page #}
<!-- hero section -->
  <section class="hero container"> <div class="hero__top-section">
    <h1 class="hero__title">
      A Frontend Developer strives to present the best side of applications to people
    </h1>
    <div class="socials" data-position="top">
      <div class="socials-component">
        {%- for social in data.socials -%}
          <a href="{{ social.link }}" target="_blank">
            <img class="social__icon icon" src="{{ social.icon }}" alt="{{ social.socialName }}"></a>
          {%- endfor -%}
        </div>
      </div>
    </div>
    <div
      class="hero__bottom-section">
      {# my profile image #}
      <img class="hero__image" src="/assets/profile-image.webp" alt="my profile image">
        <div class="socials" data-position="bottom">
          <div class="socials-component">
            {%- for social in data.socials -%}
              <a href="{{ social.link }}" target="_blank">
                <img class="social__icon icon" src="{{ social.icon }}" alt="{{ social.socialName }}"></a>
              {%- endfor -%}
            </div>
          </div>
          <div
            class="reverse">
            {# the control #}
            <button class="intro-button clicked" id="short">short</button>
            <button class="intro-button" id="long">long</button>
            <article class="introduction">
              <p>Hi! I'm Chee Kian Teoh, a frontend developer who led the frontend project at
                <a href="https://www.nfinitenano.com/" target="_blank">Nfinite Nanotech</a>. I thrive on problem-solving and enjoy
                  building from scratch. My core values: caring, curiosity and have desire to improve. Tech can be daunting, but my
                  eagerness to learn helps me adapts. My goal? Keep growing as a frontend developer and be solid team player anywhere.</p>
            </article>
          </div>
        </div>
      </section>
      <!-- skill section: title, a short description of how i learn these skills and a skills grid -->
      <section class="skill container">
        <h3 class="section-title">My Skills</h3>
        <p class="section-description">During my self-taught journey, I’ve taken a number of online courses such as JavaScript
          30, JavaScript Deep Dive, BeyondCSS: Sass Fundamental, and I’m currently taking JavaScript: The Hard Part.</p>
        <ul class="skills-component grid">
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript ES6</li>
          <li>TypeScript</li>
          <li>React</li>
          <li>Sass</li>
          <li>Angular</li>
          <li>Git</li>
        </ul>
      </section>
      <!-- project section: title, a short description, and 3 - 5 projects showcase-->
      <section class="container">
        <h3 class="section-title">What I have been working on</h3>
        <p class="section-description">I like to spend my free time learning and doing project. Take a look at some of the works
          I dedicated my time to.</p>
        <div class="projects">
          {# for project in collections.project | reverse #}
          {%- for project in collections.project -%}
            {% include 'project-snippet.njk' %}
          {%- endfor -%}
        </div>
      </section>
    